* {
  box-sizing: border-box;
  // transition: $transition;
  &:focus {
  	outline: none;
  }
}

html {
	font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: $proxima-s-r;
  @include fsz(16px);
}

a {
	transition: $transition;
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}

.text-link {
	display: inline-block;
	color: $gray;
	font-family: $proxima-s-sb;
	&:hover {
		color: $gray-darkest;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}






// =========================================
// Header ==================================
// =========================================
header {
	display: flex;
	justify-content: space-between;
	min-width: 1325px;
	height: 128px;
	background-color: $black;
	padding: 38px 50px 38px 118px;
}

.logo {
	&:hover {
		transform: scale(1.125, 1.125);
	}
}

.main-nav {
	display: flex;
	align-items: center;
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-right: 48px;
			&.active {
				a {
					color: $green;
				}
			}
			a {
				color: $white;
				font-family: $proxima-s-b;
				@include fsz(16px);
				line-height: 27px;
				text-transform: uppercase;
				&:hover {
					color: $green;
				}
			}
		}
	}
}



// =========================================
// Main content ============================
// =========================================
.content-container {
	width: 1325px;
	margin: 0 auto;
	padding: 0 25px;
}


main {
	// padding: 0 155px 0 25px;
	// outline: 1px solid red;
}

.search-wrapper {
	display: flex;
	width: 215px;
	height: 35px;
	border: 1px solid $green;
	border-radius: 3px;
	&.search-small {
		height: 27px;
		.btn-search {
			&:before {
				top: 7px;
			}
			&:after {
				top: 14px;
			}
		}
	}
	&.search-green {
		color: $green;
		.search-field {
			&::-webkit-input-placeholder {
			  color: $green;
			}
			&::-moz-placeholder {
			  color: $green;
			}
			&:-ms-input-placeholder {
			  color: $green;
			}
			&:-moz-placeholder {
			  color: $green;
			}
		}
	}
	&.search-gray {
		color: $gray;
		border-color: $gray;
		.search-field {
			&::-webkit-input-placeholder {
			  color: rgba($gray, 0.5);
			}
			&::-moz-placeholder {
			  color: rgba($gray, 0.5);
			}
			&:-ms-input-placeholder {
			  color: rgba($gray, 0.5);
			}
			&:-moz-placeholder {
			  color: rgba($gray, 0.5);
			}
			&:focus {
				& ~ .btn-search {
					background-color: $gray;
				}
			}
		}
		.btn-search {
			&:hover {
				background-color: $gray;
			}
			&:before {
				border-color: rgba($gray, .5);
			}
			&:after {
				background-color: rgba($gray, .5);
			}
		}
	}
	.search-field {
		display: block;
		width: 100%;
		height: 100%;
		padding: 4px 11px 3px;
		@include fsz(12px);
		line-height: 27px;
		font-family: $proxima-s-r;
		text-transform: uppercase;
		border: none;
		border-radius: inherit;

		&:focus {
			outline: none;
			& ~ .btn-search {
				background-color: $green;
				&:before {
					border-color: $white;
				}
				&:after {
					background-color: $white;
				}
			}
		}

	}

	.btn-search {
		display: block;
		width: 40px;
		height: 100%;
		position: relative;
		&:hover {
			background-color: $green;
			&:before {
				border-color: $white;
			}
			&:after {
				background-color: $white;
			}
		}
		&:before,
		&:after {
			display: block;
			content: '';
			position: absolute;
		}
		&:before {
			width: 10px;
			height: 10px;
			border: 1px solid $green;
			border-radius: 50%;
			top: 11px;
			left: 11px;
		}
		&:after {
			width: 1px;
			height: 5px;
			background-color: $green;
			transform: rotate(-45deg);
			top: 18px;
			left: 20px;
		}
	}
}




.results-count {
	margin-top: 37px;
	margin-bottom: 12px;
	@include fsz(16px);
	line-height: 19px;
	color: #4a4a4a;
}




// Dropdowns
.search-filters {
	display: flex;
	align-items: center;
	padding: 20px 0 15px;
	.dropdown {
		&:not(:last-of-type) {
			margin-right: 65px;
		}
		&.open {
			a {
				.arrow-down {
					transform: rotate(180deg);
				}
			}
		}
		a {
			font-family: $proxima-s-r;
			@include fsz(12px);
			line-height: 14px;
			color: $gray-darkest;
			text-transform: uppercase;
			&:focus {
				text-decoration: none;
			}
		}
		.arrow-down {
			margin-left: 20px;
			margin-top: -3px;
		}
		.dropdown-menu {
			min-width: 120px;
			box-shadow: none;
			li {
				padding: 0;
				color: $gray-darkest;
				a {
					padding: 5px 10px;
				}
			}
		}
	}
}


// Arrow down
.arrow-down {
	display: inline-block;
	width: 12px;
	height: 6px;
	position: relative;
	// outline: 1px solid #c00;
	&:before {
		display: block;
		content: '';
		width: 6px;
		height: 6px;
		border-right: 1px solid $gray-darkest;
		border-bottom: 1px solid $gray-darkest;
		transform: rotate(45deg);
		position: absolute;
		top: 0;
		bottom: 75%;
		left: 0;
		right: 0;
		margin: auto;
	}
}


.card-list {
	display: flex;
	justify-content: center;
	font-size: 0;
	li {
		display: inline-block;
		width: 245px;
		margin: 0 25px;
		padding: 60px 0 0 0;
		background-color: $gray-lightest;
		@include fsz(11px);
		line-height: 13px;
		text-align: center;
		border: 1px solid $gray-lighter;
		border-radius: 2px;
		img {
			margin-bottom: 25px;
		}
		h4 {
			margin-bottom: 4px;
			@inlcude fsz(25px);
			line-height: 30px;
			color: $gray-darkest;
			text-transform: uppercase;
		}
		p {
			color: #9b9b9b;
			text-transform: uppercase;
		}
		.date {
			display: block;
			margin: 33px auto 0;
			padding: 18px 15px;
			@include fsz(16px);
			line-height: 19px;
			color: $gray-darkest;
			border-top: 1px solid #ebebeb;
		}
	}
}










// =========================================
// Sidebar =================================
// =========================================
aside {
	display: inline-block;
	vertical-align: top;
	width: 215px;
	margin-right: 20px;
	& ~ main {
		display: inline-block;
		vertical-align: top;
		width: 1024px;
	}
	.search-wrapper {
		width: 100%;
	}
}




// Panels
.panel {
	border-radius: 2px;
	box-shadow: none;
	.panel-heading {
		padding-top: 6px;
		padding-bottom: 0;
		font-family: $proxima-s-r;
		@include fsz(12px);
		line-height: 27px;
		color: $gray;
		text-transform: uppercase;
	}
	.panel-body {
		.checkbox-list {
			margin-top: 15px;
			.control {
				padding-top: 7px;
				padding-bottom: 7px;
				@include fsz(12px);
				line-height: 1rem;
				color: $gray;
				span {
					display: inline-block;
					padding-top: 2px;
				}
				.control__indicator {
					bottom: 0;
					margin: auto;
				}
			}
		}
	}
}

.panel-gray {
	border: 1px solid $gray-lighter;
	.panel-heading {
		border-color: $gray-lighter;
	}
}





// =========================================
// Icons ===================================
// =========================================
.icon-img-placeholder {
	display: block;
	width: 36px;
	height: 30px;
	background: url('../images/icon-img-placeholder.svg') no-repeat center center;
}














// Forms
form {
	[class*="col-"] {
		padding-left: 10px;
		padding-right: 10px;
	}
	&.form-green {

		// Input color
		.form-group {
			.form-control {
				color: $green;
				&::-webkit-input-placeholder {
				  color: $green;
				}
				&::-moz-placeholder {
				  color: $green;
				}
				&:-ms-input-placeholder {
				  color: $green;
				}
				&:-moz-placeholder {
				  color: $green;
				}
			}
		}


		// Select color
		.bootstrap-select {
			&.open {
				.dropdown-toggle {
					border-color: $green;
					&:focus {
						color: $green;
						border-color: $green;
					}
				}
			}
			.dropdown-toggle {
				color: $green;
				&:active:focus {
					color: $green;
				}
			}
			.dropdown-menu {
				border-color: $green;
				li {
					&:not(:last-of-type) {
						border-bottom: 1px solid $green;
					}
					a {
						color: $green;
					}
				}
			}
		}

		// Caret color
		.bs-caret {
			.caret {
				background: url('../images/arrow-down.svg') no-repeat center center;
			}
		}
	}
}

.form-group {
	.form-control {
		color: $green;
		&::-webkit-input-placeholder {
		  color: $green;
		}
		&::-moz-placeholder {
		  color: $green;
		}
		&:-ms-input-placeholder {
		  color: $green;
		}
		&:-moz-placeholder {
		  color: $green;
		}
	}
	label {
		@include fsz(12px);
		line-height: 14px;
		color: $gray;
		text-transform: uppercase;
	}
	.form-control {
		height: 42px;
		padding: 10px 12px;
		border-color: $gray;
		box-shadow: none;
		border-radius: 2px;
		color: $gray;
		text-transform: uppercase;
		&::-webkit-input-placeholder {
		  color: $gray;
		}
		&::-moz-placeholder {
		  color: $gray;
		}
		&:-ms-input-placeholder {
		  color: $gray;
		}
		&:-moz-placeholder {
		  color: $gray;
		}
	}
}






// Custom select boxes
.bootstrap-select {
	position: relative;
	&.open {
		.dropdown-toggle {
			background-color: inherit;
			border-color: $gray;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			&:hover {
				background-color: inherit;
			}
			&:focus {
				background-color: inherit;
				color: $gray;
				border-color: $gray;
			}
		}
		.bs-caret {
			.caret {
				transform: rotate(180deg);
			}
		}
	}
	.dropdown-toggle {
		height: 42px;
		padding: 12px;
		border-color: $gray;
		color: $gray;
		&:hover,
		&:focus {
			background-color: inherit;
		}
		&:active {
			background-color: inherit;
			box-shadow: none;
		}
		&:focus {
			box-shadow: none;
		}
		&:active:focus {
			outline: none;
			color: $gray;
		}
	}
	
	.dropdown-menu {
		margin: 0;
		padding: 0;
		border-top: none;
		border-color: $gray;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		li {
			height: 40px;
			padding: 9px 0;
			&:not(:last-of-type) {
				border-bottom: 1px solid $gray;
			}
			a {
				@include fsz(14px);
				line-height: 17px;
				color: $gray;
				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	.bs-caret {
		.caret {
			display: block;
			width: 11px;
			height: 6px;
			background: url('../images/arrow-down-gray.svg') no-repeat center center;
			border: none;
		}
	}
}


// Select Filter
.select-filter {
	width: auto!important;
	&.text-green {
		.dropdown-toggle {
			span {
				color: $green;
			}
			.bs-caret {
				.caret {
					background-image: url('../images/arrow-down.svg');
				}
			}
		}
		
	}
	.dropdown-toggle {
		width: auto;
		height: auto;
		padding: 7px 12px 4px 2px;
		padding-right: 45px;
		@include fsz(12px);
		line-height: 14px;
		border: none;
		&:focus {
			outline: none;
		}
	}
	.dropdown-menu {
		margin-top: 5px;
		border-top: 1px solid;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-color: $gray-lighter;
		.dropdown-menu {
			li {
				height: 35px;
				padding: 7px 0;
				border-color: $gray-lighter;
				&:hover {
					a {
						color: $green;
					}
				}
				a {
					padding-left: 5px;
				}
			}
		}
	}
}






// =========================================
// Tabs ====================================
// =========================================

.tabs{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 454px;
	margin: 0 auto;
	@extend .absolute-center;
	&:before {
		display: block;
		content: '';
		height: 3px;
		background-color: #ebebeb;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
	}
  .tab-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    background-color: #ebebeb;
    @include fsz(20px);
    line-height: 25px;
    color: $white;
    cursor: pointer;
    border: 2px solid #ebebeb;
    border-radius: 50%;
    position: relative;
    transition: $transition;
    &.current {
			background-color: $green;
			border-color: $green;
			color: $white;
			& ~ .tab-link {
				background-color: $white;
				color: $green;
			}
    }
  }
}

.tab-content{
  display: none;
  background: $white;
  text-align: center;
  &.current{
    display: inherit;
  }

  h2 {
  	@include fsz(35px);
		line-height: 42px;
		font-weight: 400;
  	color: $green;
  }
}


.radio-list {
	display: flex;
	justify-content: center;
	li {
		input {
			display: none;
			&:checked ~ label {
				background-color: $green;
				color: $white;
			}
		}
		label {
			display: block;
			width: 203px;
			height: 203px;
			margin: 0 20px;
			padding: 90px 10px 15px 10px;
			background-color: #fafafa;
			@include fsz(25px);
			line-height: 30px;
			font-weight: 400;
			color: #9b9b9b;
			text-transform: uppercase;
			border: 1px solid #ebebeb;
			border-radius: 2px;
			position: relative;
			transition: $transition;
			cursor: pointer;
			&:before {
				display: block;
				content: '';
				width: 28px;
				height: 28px;
				background-color: $white;
				border: 1px solid #ebebeb;
				border-radius: 50%;
				position: absolute;
				top: 35px;
				right: 0;
				left: 0;
				margin: auto;
			}
			span {
				display: block;
				margin-top: 23px;
				@include fsz(14px);
				line-height: 17px;
			}
		}
	}
}





// Square cards
.square-cards {
	display: flex;
	justify-content: center;
	.square-item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 203px;
		height: 203px;
		background-color: #fafafa;
		border: 1px solid #ebebeb;
		border-radius: 2px;
		&:not(:last-of-type) {
			margin-right: 40px;
		}
	}
}



// Datepicker
.date-picker {
	display: flex;
	width: auto;
	position: relative;
	input {
		display: inline;
		width: auto;
		padding-right: 20px;
		@include fsz(18px);
		letter-spacing: -.35px;
		text-align: right;
		border: none;
		&:focus ~ .caret {
			transform: rotate(180deg);
		}
	}
	.caret {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}

}

.datepicker-dropdown {
	&:before,
	&:after {
		display: none;
	}
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
	background: $green;
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
	background: rgba($green, .25);
}

.datepicker table tr td.today.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today.disabled:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today[disabled] {
	background-color: $green;
}






// Well-items
.well-item {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 670px;
	min-height: 70px;
	margin: 0 auto 25px;
	padding: 20px;
	background-color: #fafafa;
	color: #9b9b9b;
	border: 1px solid #ebebeb;
	border-radius: 2px;
	position: relative;
	.well-label {
		display: flex;
		align-items: center;
		margin: 0;
		position: absolute;
		top: 28px;
		left: 23px;
		@include fsz(14px);
		line-height: 17px;
		text-transform: uppercase;
	}
	.well-title {
		margin: 0;
		@include fsz(25px);
		line-height: 25px;
		text-align: center;
		text-transform: uppercase;
	}
	.well-item-content {
		margin-top: 50px;
		padding: 0 25px;
		text-align: justify;
		p {
			margin-top: 0;
			color: #9b9b9b;
			@include fsz(11px);
			line-height: 13px;
		}
	}
}







