.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.is-hidden {
  display: none!important;
}

.text-green {
  color: $green;
}

.text-black {
  color: $black;
}


// // Checkbox
// .checkbox-label {
//   display: inline-block;
//   width: 97px;
//   height: 30px;
//   padding: 7px 55px 7px 10px;
//   position: relative;
//   text-transform: uppercase;
//   // font-family: $proxima-b;
//   @include fsz(12px);
//   line-height: 15px;
//   // color: $blue;
//   cursor: pointer;
//   border: 1px solid #00A4D1;
//   border-radius: 4px;
//   &:before,
//   &:after {
//     display: block;
//     content: ' ';
//     position: absolute;
//     transition: all 0.25s ease-out;
//   }
//   &:before {
//     width: 48px;
//     height: 28px;
//     background-color: #ccc;
//     top: 0;
//     right: 0;
//     border-radius: 3px;
//   }
//   &:after {
//     width: 20px;
//     height: 20px;
//     background-color: #fff;
//     top: 4px;
//     right: 24px;
//     border-radius: 2px;
//   }
// }

// .checkbox:checked ~ .checkbox-label,
// .checkbox:checked ~ * .checkbox-label {
//   &:before{
//     background: #00A4D1;
//   }
//   &:after {
//     right: 4px;
//   }
// }

// .checkbox,
// .expandable {
//   display: none;
// }












