@import '_bootstrap';

@import '_variables';
@import '_mixins';

@import './bootstrap-select/bootstrap-select';
@import '_custom-checkbox';

@import '_fonts';
@import '_helpers';
@import '_global';
@import '_buttons';
@import '_modals';






// =========================================
// Page Home ===============================
// =========================================
.page-home {
	.main-content {
		padding-bottom: 100px;
	}
	.content-header {
		max-width: none;
		h1 {
			margin-top: 3px;
		}
	}
	
	.action-bar {
		padding-bottom: 10px;
	}

	.reports {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 65px;
		margin-bottom: 25px;
		.report-item {
			width: 500px;
			padding: 35px;
			background-color: #fafafa;
			text-align: center;
			border: 1px solid #ebebeb;
			border-radius: 2px;
			&:not(:last-of-type) {
				margin-right: 40px;
			}
		}
		h2 {
			margin-top: 0;
			text-transform: uppercase;
			color: #4a4a4a;
			@include fsz(25px);
			line-height: 25px;
		}
	}
	
}




// =========================================
// Page Browse Data ========================
// =========================================
.page-browse-data {

}

.content-header {
	max-width: 1048px;
	display: flex;
	flex-direction: column;
	align-self: flex-end;
	margin-left: auto;
	padding: 0 12px;
}

.header-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 43px;
	h1 {
		margin: 0;
		font-family: $proxima-s-md;
		@include fsz(25px);
		line-height: 30px;
		color: $gray-darkest;
		text-transform: uppercase;
	}
	.header-right {
		display: flex;
		.btn {
			margin-left: 20px;
		}
	}
}

.view-options {
	margin-top: 20px;
	text-align: right;
	.text-link {
		@include fsz(10px);
		line-height: 12px;
		text-transform: uppercase;
		opacity: .4;
		&:hover {
			i {
				background-color: $gray-darkest;
				border-color: $gray-darkest;
			}
		}
		&:not(:last-of-type) {
			margin-right: 20px;
		}
		&.active {
			opacity: 1;
		}
		& > * {
			display: inline-block;
			vertical-align: middle;
		}
		span {
			margin-right: 5px;
		}
		i {
			transition: $transition;
			width: 8px;
		}
		.icon-card-view {
			height: 8px;
			background-color: $gray;
		}
		.icon-list-view {
			height: 2px;
			margin: 3px 0;
			background-color: $gray;
			position: relative;
			&:before,
			&:after {
				display: block;
				content: '';
				position: absolute;
				width: inherit;
				height: inherit;
				background-color: inherit;

			}
			&:before {
				top: -3px;
			}
			&:after {
				bottom: -3px;
			}
		}
	}
}



.item-list {
	margin-bottom: 75px;
	text-align: center;

	// Card view
	.card-view {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-left: -8px;
		margin-right: -8px;
		text-align: center;
		.item-card {
			display: flex;
			flex-direction: column;
			flex-shrink: 0;
			width: 244px;
			margin: 0 8px 16px 8px;
			padding: 30px 10px 20px 10px;
			background-color: $gray-lightest;
			border: 1px solid $gray-lighter;
			border-radius: 2px;
			text-align: center;
			&.selected {
				.btn-white-green {
					&:hover {
						color: $green;
						background-color: $white;
					}
					color: $white;
					background-color: $green;
				}
			}
			.img-container {
				display: block;
				width: 110px;
				height: 110px;
				margin: 0 auto;
				border: 1px solid $white;
				border-radius: 50%;
				box-shadow: 0px 0px 5px 0px rgba($black, 0.25);
				overflow: hidden;
			}
			h3 {
				margin: 30px 0 0;
				font-family: $proxima-s-r;
				@include fsz(25px);
				line-height: 30px;
				color: $gray-darkest;
			}
			.source {
				margin: 5px 0 0;
				font-family: $proxima-s-r;
				@include fsz(11px);
				line-height: 13px;
				text-transform: uppercase;
				color: $gray-darkest;
			}
			.btn-white-green {
				width: 90px;
				height: 37px;
				margin: 34px auto 0;
				padding: 11px;
				font-family: $proxima-s-r;
				@include fsz(11px);
				line-height: 13px;
			}
		}
	}

	// List view
	.list-view {
		margin-top: 5px;
		border: none;
		tr {
			color: $gray-darkest;
			text-align: left;
			&:nth-child(even) {
				background-color: rgba($gray-light, .5);
			}
			th,
			td {
				padding-left: 20px;
				vertical-align: middle;
				@include fsz(14px);
				line-height: 17px;
				border-color: $gray-lighter;
			}
			th {
				height: 50px;
				border: none;
				@include fsz(12px);
				line-height: 14px;
				text-transform: uppercase;
				&:hover,
				&.sort-by {
					a {
						color: $green;
						.arrow-down {
							&:before {
								border-color: $green;
							}
						}
					}
				}
				&:not(:last-of-type) {
					position: relative;
					&:after {
						display: block;
						content: '';
						width: 1px;
						height: 14px;
						background-color: #dadada;
						position: absolute;
						top: 0;
						right: -1px;
						bottom: 0;
						margin: auto;
					}
				}
				a {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 5px 0;
					color: inherit;
					font-weight: initial;
					.arrow-down {
						&:before {
							transition: $transition;
							border-color: #979797;
						}
					}
				}
			}
			td {
				height: 78px;
				border-color: $gray-lighter;
				a {
					display: inline-block;
				}
			}
			.website,
			.title,
			.band,
			.f-name,
			.l-name {
				text-transform: uppercase;
			}
			.link {
				max-width: 350px;
				p {
					display: inline-block;
					width: 200px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
			.image {
				padding: 0;
				text-align: center;
			}
			.controls {
				a {
					&:not(:last-of-type) {
						margin: 0 50px 0 30px;
					}
				}
			}
		}
	}

	// Show more button
	.see-more {
		margin-top: 30px;
		font-family: $proxima-s-r;
		@include fsz(12px);
		line-height: 14px;
		color: $green;
		text-transform: uppercase;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}


// Table select
.table.table-select {
	tr {
		&:first-of-type {
			th {
				&:first-of-type {
					width: 78px;
					margin: 0;
					padding: 0;
					text-align: left;
					&:after {
						display: none;
					}
					a {
						margin: 0;
						&:hover {
							color: $green;
						}
					}
				}
			}
		}
		th {
			&:nth-child(2) {
				padding-left: 30px;
			}
		}
		td {
			&:first-of-type {
				padding: 0;
				border-right: 0;
			}
			&:nth-child(2) {
				padding-left: 30px;
				border-left: 0;
			}
		}
	}

	.btn-check-all {
		justify-content: center;
		width: 115px;
		@include fsz(12px);
		line-height: 12px;
		font-weight: 400;
		// color: $white;
		&:hover {
			.select-all {
				color: white;
			}
		}
		&.selected {
			background-color: $green;
			&:hover {
				background-color: $white;
				.deselect-all {
					color: $green;
				}
			}
			.select-all {
				display: none;
			}
			.deselect-all {
				display: block;
				color: $white;
			}
		}
		span {
			transition:  $transition;
		}
		.select-all {
			color: $green;
		}
		.deselect-all {
			display: none;
		}
	}
	.check {
		text-align: center;
		.control {
			display: inline-block;
			width: 23px;
			height: 23px;
			input {
				&:checked ~ .control__indicator {
					background-color: rgba(57, 208, 174, 0.6);
				}
			}
		}
		.control__indicator {
			width: 23px;
			height: 23px;
		}
	}
}





// =========================================
// Page Manage contact =====================
// =========================================
.page-manage-contacts {
	.header-inner {
		margin-bottom: 50px;
	}

	tr.confirm-dialog {
		position: relative;
		.delete-contact-confirmation {
			display: flex;
		}
	}

	.delete-contact-confirmation {
		display: none;
	}
}


.table {
	.confirm-dialog {
		display: none;
	}

	.tr-confirm {
		td {
			min-height: 50px;
			padding: 5px 0 5px 15px;
			background-color: $gray-lightest;
			text-align: right;
			&:first-child {
				border-right: 0;
			}
			&:last-child {
				border-left: 0;
			}
			p {
				display: inline-block;
				vertical-align: middle;
				margin: 0 30px 0 0;
				@include fsz(14px);
				line-height: 17px;
				color: $green;
				text-transform: uppercase;
			}
			.btn {
				display: inline-block;
				vertical-align: middle;
				width: 160px;
				&:not(:last-of-type) {
					margin-right: 15px;
				}
			}
		}
	}
}




// =========================================
// Page Archive ============================
// =========================================
.page-archive {

	.card-list {
		margin-bottom: 30px;
	}

	.table-archive {
		tr {
			th {
				&:last-child {
					padding-left: 8px;
					a {
						span {
							display: block;
							margin: 0 auto;
						}
					}
				}
			}
			td {
				&:last-child {
					padding-left: 8px;
					text-align: center;
				}
			}
		}
	}
}







// =========================================
// Page Generate PDF =======================
// =========================================
.page-generate-pdf {
	header {
		position: relative;
	}

	.btn-close-wizard {
		border-color: $green;
		position: absolute;
		top: 45px;
		right: 65px;
		&:before,
		&:after {
			background-color: $green;
		}
	}

	.tab-content {
		padding-top: 125px;
		padding-bottom: 80px;
		position: relative;
	}
		
	.tab-1,
	.tab-2 {
		h2 {
			margin-bottom: 145px;
		}
		.radio-list {
			margin-bottom: 60px;
		}
	}

	.tab-3 {
		h2 {
			margin-bottom: 45px;
		}
		
		.btn-generate-pdf {
			margin-bottom: 50px;
		}
	}



	.tab-3-1 {
		h2 {
			margin-bottom: 140px;
		}
		.square-cards {
			margin-bottom: 60px;
		}
	}



	.tab-4 {
		h2 {
			margin-bottom: 90px;
		}
		.search-field {
			margin-bottom: 63px;
		}
		.radio-list {
			margin-bottom: 60px;
		}
	}

	.tab-5 {
		h2 {
			margin-bottom: 45px;
		}
		.btn-send {
			margin-bottom: 65px;
		}
		.well-item {
			.well-item-content {
				padding-bottom: 15px;
			}
		}
		.btn-prev {
			margin-top: 15px;
		}
	}

	.tab-5-1 {
		h2 {
			margin-bottom: 80px;
		}
		svg {
			margin-bottom: 65px;
		}
	}



	.btn {
		display: block;
		width: 160px;
		margin: 0 auto;
		transition:  $transition;
	}
	.btn-next {
		margin-bottom: 25px;
	}
	.btn-cancel,
	.btn-prev {
		display: inline-block;
		@include fsz(12px);
		line-height: 14px;
		color: #9b9b9b;
		text-transform: uppercase;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}


.search-field {
	input {
		min-width: 670px;
		height: 50px;
		padding: 5px 15px 5px 40px;
		border: none;
		border-bottom: 1px solid $green;
		box-shadow: none;
		background: url('../images/icon-search-green.svg') no-repeat center left;
		background-size: 29px 29px;
		text-align: center;
		color: $green;
		font-weight: 400;
		@include fsz(40px);
		line-height: 48px;
		text-transform: uppercase;
		&::-webkit-input-placeholder {
		  color: $green;
		}
		&::-moz-placeholder {
		  color: $green;
		}
		&:-ms-input-placeholder {
		  color: $green;
		}
		&:-moz-placeholder {
		  color: $green;
		}
	}
}





































