script(src='js/jquery-3.1.0.min.js')
//- script(src='js/bootstrap.min.js')
script(src='js/modernizr.js')
//- script(src='js/jquery.form-validator.min.js')
//- script(src='js/flickity.pkgd.min.js')
//- script(src='js/ga.js')
script(src='js/main.js')