extends ./templates/base-template

block vars
	- var title='Manhead - Home'
	- var bodyClass = 'page-home'

block header

block content

	main.main-content
	














block footer

block scripts

block custom-scripts