extends ./templates/base-template

block vars
	-var title='Manhead - Home'
	-var bodyClass = 'page-home'
	-var current = 'Home'
	-var baseHeader = true
	
block header

block content

	main.main-content
	
		//- Content wrapper
		.content-container
			
			//- Content header
			.content-header
				
				.header-inner
					h1
						| Good morning, 
						span.username Chris!
					.header-right
						form.browse-search(action="")
							.search-wrapper.search-green
								input.search-field(type="text", placeholder="Search")
								a.btn-search(href="")
						a.btn.btn-lg.btn-green(href="generate-pdf.html") Generate PDF

				
			.reports
				.report-item.monthly-report
					h2 Monthly report

					canvas#bar-chart(width='400', height='400')


				.report-item.report-to-date
					h2 Reports to date

					canvas#donut-chart(width='400', height='400')




			.action-bar
				select#sort-by.selectpicker.select-filter(name="")
					option(value="Most recent") Most recent
					option(value="Name A-Z") Name A-Z
					option(value="Name Z-A") Name Z-A
					option(value="Best sellers") Best sellers
				.date-picker
					input(type="text", value="August 31, 2016")
					span.caret


			.report-table
				.table-row
					p.row-title Amazon
					.data-group.data-product
						p.label Products
						p.number 867
					.data-group.data-email
						p.label Emails sent
						p.number 22
				.table-row
					p.row-title Etsy
					.data-group.data-product
						p.label Products
						p.number 867
					.data-group.data-email
						p.label Emails sent
						p.number 22
				.table-row
					p.row-title Redbubble
					.data-group.data-product
						p.label Products
						p.number 78
					.data-group.data-email
						p.label Emails sent
						p.number 12
				.table-row
					p.row-title Lorem Ipsum
					.data-group.data-product
						p.label Products
						p.number 22
					.data-group.data-email
						p.label Emails sent
						p.number 8
				.table-row
					p.row-title Lorem Ipsum
					.data-group.data-product
						p.label Products
						p.number 14
					.data-group.data-email
						p.label Emails sent
						p.number 9




block footer

block scripts

block custom-scripts
	script
		| $('.date-picker input').datepicker({
		| format: "MM dd, yyyy",
		| orientation: "bottom auto",
		| todayHighlight: true,
		| autoclose: true
		| });
