header
	a.logo(href="")
		img(src="../images/manhead-logo.svg", alt="")
	nav.main-nav
		ul
			li
				a(href="./") Home
			li
				a(href="archive.html") Archive
			li.active
				a(href="browse-data-card-view.html") Browse data
			li
				a(href="manage-contacts.html") Manage contacts
		a.btn.btn-md.btn-white(href="") Sign out