aside
	.panel.panel-gray
		.panel-heading Website
		.panel-body
			form.browse-search(action="")
				.search-wrapper.search-small.search-gray
					input.search-field(type="text", placeholder="Search")
					a.btn-search(href="")
				.checkbox-list
					label.control.control--checkbox
							input(type='checkbox')
							span SELECT ALL
							.control__indicator
					label.control.control--checkbox
							input(type='checkbox')
							span Amazon
							.control__indicator
					label.control.control--checkbox
							input(type='checkbox', checked)
							span Etsy
							.control__indicator
					label.control.control--checkbox
							input(type='checkbox')
							span Redbubble
							.control__indicator

	.panel.panel-gray
		.panel-heading Bands
		.panel-body
			form.browse-search(action="")
				.search-wrapper.search-small.search-gray
					input.search-field(type="text", placeholder="Search")
					a.btn-search(href="")
				.checkbox-list
					label.control.control--checkbox
							input(type='checkbox', checked)
							span SELECT ALL
							.control__indicator
					label.control.control--checkbox
							input(type='checkbox')
							span 30 Seconds to Mars
							.control__indicator
					label.control.control--checkbox
							input(type='checkbox')
							span Fall Out Boy
							.control__indicator
					label.control.control--checkbox
							input(type='checkbox')
							span Panic at the Disco
							.control__indicator
					label.control.control--checkbox
							input(type='checkbox')
							span Lorem Ipsum
							.control__indicator








